src/main/java/ru/plot/jaxb/cb/bic/CbBic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BicCode" type="BicCodeType"/>
  <xs:complexType name="RegNumType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="date" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="ShortName"/>
      <xs:element type="xs:string" name="Bic"/>
      <xs:element type="RegNumType" name="RegNum"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ID" use="optional"/>
    <xs:attribute type="xs:string" name="DU" use="optional"/>
  </xs:complexType>
  <xs:complexType name="BicCodeType">
    <xs:sequence>
      <xs:element type="RecordType" name="Record" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
</xs:schema>